* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: darkgrey;
}
.city {
  text-align: center;
}
.forcastBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 20%;
  max-width: 60%;
}
.forcastBox h1 {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}
.fDate {
  border-style: inset;
  height: 200px;
  width: 150px;
  margin: 0em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.fDate:hover {
  transform: scale(1.2);
  cursor: pointer;
  height: auto;
  padding-bottom: 1em;
  transition: all 0.5s linear;
}
.info {
  margin-top: 1em;
  display: none;
}
.info p:first-letter {
  text-transform: capitalize;
}
.fDate:hover .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  animation: mymove 1s ease-out forwards;
}
@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fDateHighlight {
  width: 100%;
  text-align: center;
}
.dateImg {
  margin-top: 0.5em;
  width: 5em;
  max-width: 100%;
  height: auto;
}
